<footer class="site-footer" role="contentinfo">
  <div class="container">
    <div>
      © {{ site.time | date: "%Y" }} James Ahabyona
    </div>
    <ul>
      <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      <li><a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">GitHub</a></li>
      <li><a href="https://linkedin.com/{{ site.linkedin_username }}" target="_blank" rel="noopener">LinkedIn</a></li>
      <li><a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">Twitter</a></li>
    </ul>
  </div>
</footer>
